/*
 * Copyright (c) 2025
 * SPDX-License-Identifier: MIT
 */

/ {
    chosen {
        // Disable kscan completely for testing
        // zmk,kscan = &kscan0;
    };
    
    /* Temporarily disabled to test if GPIO is causing crashes
    kscan0: kscan {
        compatible = "zmk,kscan-gpio-direct";
        
        input-gpios
            = <&gpio0 10 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            ;
    };
    */
};
